{% extends 'app_admin/admin_base.html' %}
{% load staticfiles %}
{% block title %}文档模板管理{% endblock %}
{% block content %}
    <div class="layui-card-header" style="margin-bottom: 10px;">
      <div class="layui-row">
          <span style="font-size:18px;">文档模板管理
          </span>
      </div>
  </div>
    <div class="layui-row">
        <form action="{% url 'doctemp_manage' %}" method="get">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="kw" id="kw"  placeholder="输入文档模板内容" autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn layui-btn-normal" type="submit">搜索</button>
            <button class="layui-btn layui-btn-normal" type="button"><a href="{% url 'create_doctemp' %}" target="_blank" style="color: white;">新建文档模板</a></button>
        </div>
        </form>
    </div>
    <div class="layui-row" lay-skin="line">
        <table class="layui-table"  id="doctemp-list" lay-skin="">
            <colgroup>
            <col width="200">
            <col width="200">
            <col>
      </colgroup>
      <thead>
        <tr>
          <th>模板名称</th>
            <th>创建人</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for temp in doctemps %}
        <tr>
          <td>{{ temp.name }}</td>
            <td>{{ temp.create_user }}</td>
          <td>{{ temp.create_time }}</td>
          <td>
              <a href="{% url 'modify_doctemp' doctemp_id=temp.id %}" target="_blank" class="layui-btn layui-btn-warm layui-btn-xs">修改</a>
              <a href="javascript:void(0);" onclick="delTemp('{{temp.id}}');" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
        </table>
    </div>
        <!-- 分页 -->
    <div class="layui-row">
        <div class="pagination">
            <span class="step-links">
                {% if doctemps.has_previous %}
                    <a href="?page={{ doctemps.previous_page_number }}&kw={{doctemps.kw}}" class="layui-btn layui-btn-normal layui-btn-xs">上一页</a>
                {% endif %}
                <span class="current">
                    当前页： {{ doctemps.number }} 共 {{ doctemps.paginator.num_pages }} 页
                </span>
                {% if doctemps.has_next %}
                    <a href="?page={{ doctemps.next_page_number }}&kw={{doctemps.kw}}" class="layui-btn layui-btn-xs">下一页</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
<script>
    delTemp = function(doctemp_id){
        layer.open({
            type:1,
            title:'删除文档',
            area:'300px;',
            id:'delPro',//配置ID
            content:'<div style="margin-left:10px;">警告：此操作将删除此文档模板！</div>',
            btn:['确定','取消'], //添加按钮
            btnAlign:'c', //按钮居中
            yes:function (index,layero) {
                data = {
                    'doctemp_id':doctemp_id,
                }
                $.post("{% url 'del_doctemp' %}",data,function(r){
                    if(r.status){
                        //修改成功
                        window.location.reload();
                        //layer.close(index)
                    }else{
                        //修改失败，提示
                        console.log(r)
                        layer.msg(r.data)
                    }
                })
            },
        });
    }
</script>
{% endblock %}