{% extends 'app_admin/admin_base.html' %}
{% load staticfiles %}
{% block title %}文档管理{% endblock %}
{% block content %}
    <div class="layui-card-header" style="margin-bottom: 10px;">
      <div class="layui-row">
          <span style="font-size:18px;">文档管理
          </span>
      </div>
  </div>
    <div class="layui-row">
        <form action="{% url 'doc_manage' %}" method="get">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="kw" id="kw" placeholder="输入文档内容" autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn layui-btn-normal" type="submit">搜索</button>
            <button class="layui-btn layui-btn-normal"><a href="{% url 'create_doc' %}" target="_blank" style="color: white;">新建文档</a></button>
        </div>
        </form>
    </div>
    <!-- 表格数据 -->
    <div class="layui-row" lay-skin="line">
        <table class="layui-table"  id="doctemp-list" lay-skin="">
      <thead>
        <tr>
            <th>文档名称</th>
            <th>上级文档</th>
            <th>所属文集</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% load doc_filter %}
        {% for doc in docs %}
        <tr>
            {% if doc.status == 1 %}
                <td>
                    <a href="{% url 'doc' doc.top_doc doc.id %}" target="_blank" title="查看文档：{{doc.name}}">{{ doc.name }} <span class="layui-badge layui-bg-black">已发布</span></a>
                </td>
            {% else %}
                <td>
                    <a href="{% url 'modify_doc' doc.id %}" target="_blank" title="修改文档：{{doc.name}}">{{ doc.name }} <span class="layui-badge">草稿</span></a>
                </td>
            {% endif %}
            <td>{{ doc.parent_doc|get_doc_parent }}</td>
            <td>{{ doc.top_doc|get_doc_top }}</td>
            <td>{{ doc.create_user }}</td>
          <td>{{ doc.create_time }}</td>
          <td>
              <a href="{% url 'modify_doc' doc_id=doc.id %}" target="_blank" class="layui-btn layui-btn-warm layui-btn-xs">修改</a>
              <a href="javascript:void(0);" onclick="delDoc('{{doc.id}}');" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="layui-row">
        <div class="pagination">
            <span class="step-links">
                {% if docs.has_previous %}
                    <a href="?page={{ docs.previous_page_number }}&kw={{docs.kw}}" class="layui-btn layui-btn-normal layui-btn-xs">上一页</a>
                {% endif %}
                <span class="current">
                    当前页： {{ docs.number }} 共 {{ docs.paginator.num_pages }} 页
                </span>
                {% if docs.has_next %}
                    <a href="?page={{ docs.next_page_number }}&kw={{docs.kw}}" class="layui-btn layui-btn-xs">下一页</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
<script>
    delDoc = function(doc_id){
        layer.open({
            type:1,
            title:'删除文档',
            area:'300px;',
            id:'delPro',//配置ID
            content:'<div style="margin-left:10px;">警告：此操作将删除此文档！</div>',
            btn:['确定','取消'], //添加按钮
            btnAlign:'c', //按钮居中
            yes:function (index,layero) {
                data = {
                    'doc_id':doc_id,
                }
                $.post("{% url 'del_doc' %}",data,function(r){
                    if(r.status){
                        //修改成功
                        window.location.reload();
                        //layer.close(index)
                    }else{
                        //修改失败，提示
                        console.log(r)
                        layer.msg(r.data)
                    }
                })
            },
        });
    }
</script>
{% endblock %}