body{float:left;font-size:12px;font-family:'\5FAE\8F6F\96C5\9ED1',sans-serif;overflow:hidden;}
.wrap{margin-left: 40px;}
.wrap .title{margin:0;font-weight:bold;}
.wrap .content{width:233px;margin:2px 0 10px 0;}
a:link, a:visited, a:hover{color:#81b205}
ul{list-style: none}
ul,li{padding: 0;margin: 0}
.icon { float:left;}
