appdirs==1.4.4
asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cobble==0.1.3
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography==3.4.6
Django==3.1.7
django-haystack==3.0
djangorestframework==3.12.2
idna==2.10
jieba==0.42.1
loguru==0.5.3
lxml==4.6.2
mammoth==1.4.15
Markdown==3.3.4
markdownify==0.6.5
Pillow==8.1.2
pycparser==2.20
pyee==8.1.0
PyMySQL==1.0.2
pyppeteer==0.2.5
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
selenium==3.141.0
setuptools-scm==5.0.2
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
tqdm==4.58.0
urllib3==1.26.3
webdriver-manager==3.3.0
websockets==8.1
Whoosh==2.7.4
