/* 编辑器页面 */
.page-editor-header{
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    overflow: visible;
    height: auto;
    padding: 0 8px 0 8px;
    z-index: 2;
    font-size: .85em;
    color: #7e888b;
    background: 0 0;
    /* 固定在顶部 */
    /* width: 100%; */
    /* position: fixed; */
    /* background-color: #ffffff; */
}
/* 编辑器图标样式 */
.editormd-menu i{
    color: #333;
    font-size: 16px;
}
ul.editormd-menu{
    margin-bottom: 0;
}
/* 编辑器预览列表样式 */
.markdown-body ul li{
    list-style:disc;
}
.markdown-body ul > li > ul > li{
    list-style-type: circle;
}
.markdown-body ol li{
    list-style-type: decimal;
}
.markdown-body ol ol ul,.markdown-body ol ul ul,.markdown-body ul ol ul,.markdown-body ul ul ul li{
    list-style-type: square;
}
/* vditor编辑器大纲列表样式 */
.vditor-outline__content ul > li > ul > li{
    list-style: none;
}
/* 选择上级文档样式 */
.selected-parent-doc{
    text-decoration-line: underline;
    font-weight: 700;
    color: black;
}
/* 选择图片 - 图片列表样式 */
.select-img-list{
    cursor: pointer;
    position: relative;
    display:flex;
    float: left;
    align-items:center;
    width: 120px;
    height:120px;
    margin: 0 20px 30px 0;
    text-align: center;
    overflow: hidden;
}

.select-img-list:hover{
    background-color: #EAFFEA;
}
.select-img-list-i{
    display: block;
    width: 100%;
    height: auto;
    -webkit-background-size: contain;
    border: 1px solid transparent;
    border-radius: 3px;
    overflow: hidden;
}
/* layui分页组件样式 */
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #2176ff !important;
}
.layui-form-select dl dd.layui-this{
    background-color: #2176ff !important;
}
/* layui单选样式 */
.layui-form-radio>i:hover, .layui-form-radioed>i{
    color: #2176ff;
}
/* HTML预览样式 */
.markdown-body h1{
    font-size: 1.7em;
}
.markdown-body h2{
    font-size: 1.5em;
}
.markdown-body h3{
    font-size: 1.25em;
}
.markdown-body h4{
    font-size: 1em;
}
.markdown-body h5{
    font-size: .875em;
}
.markdown-body h6{
    font-size: .85em;
}
/* 编辑器行号宽度 */
.CodeMirror-linenumber{
    width: auto !important;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: none !important;
}
/* layui 折叠面板 边框颜色 - 用在左侧文集结构 */
.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea{
    border-color: #f8f8f8;
}
.layui-colla-content{
    padding: 0px;
}
/* 预览代码宽度 */
ol.linenums li{
    width: max-content;
}
del,s{
    text-decoration: line-through;
}
#doc-tree{
    margin-bottom: 5px;
}

/* 编辑器插入图片弹出框图片分组按钮样式 */
div#select-img-group > .layui-btn{
    margin-bottom: 5px;
}